body{
 background : url("../Images/TEST1.jpg")
}
#images
{
	margin : 0px 0px 0px 0px;
	
	display: flex;
	justify-content: center;
	align-items : center;
	flex-direction:column
	
}
button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
	
}
#fin
{
	margin : 0px 0px 0px 0px;
	
	display: flex;
	justify-content: center;
	
	flex-direction:column
	
}
h1
{ display: flex;
	justify-content: center;
}