body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background : url("../Images/TEST1.jpg") no-repeat;
	background-size: cover;
	justify-content: center;
	align-items : center;

}

#images
{
	margin : 0px 0px 0px 0px;
	
	display: flex;
	justify-content: center;
	align-items : center;
	flex-direction:column
	
}

button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
	
}
#CL
{
flex-direction:column;
}