body{
 background : url("../Images/TEST1.jpg")
}
#NOS
{
flex-direction:column;

}
#NP
{
margin : 0px 0px 0px 0px;
	
	display: flex;
	
	align-items : center;
	flex-direction:row;

}

button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
	
}
#images
{
	margin : 0px 0px 0px 0px;
	
	display: flex;
	justify-content: center;
	align-items : center;
	flex-direction:column
	
}
#Pres
{
    display: flex;
    justify-content: top;
    align-items : start;
    padding : 0px 1000px 0px 0px;
}
#TX
{
	margin : 0px 0px 0px 0px;
	
	display: flex;
	justify-content: center;
	align-items : center;
	flex-direction:column
}
#PS
{
    display: flex;
    justify-content: center;
    align-items : center;
    margin : 50px 50px 50px 50px;
}
#AD
{
	background-color: black;
	color: white
}
#CT
{display: flex;
    justify-content: center;
    align-items : center;
	
}